services:
  mysql:
    build: .
    container_name: Publisher
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: employee_database
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
volumes:
  mysql_data: